<a href="https://colab.research.google.com/github/ayuksekdag/pandas_datedim/blob/main/date_dim1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [82]:
import pandas as pd
import datetime as dt
import holidays

In [87]:
def create_date_table(start='2022-01-01', end='2022-12-31'):
    start_ts = pd.to_datetime(start).date()
    end_ts = pd.to_datetime(end).date()

    # record timetsamp is empty for now
    dates =  pd.DataFrame(columns=['Record_timestamp'],
        index=pd.date_range(start_ts, end_ts))
    dates.index.name = 'Datum'

    days_names = {
        i: name
        for i, name
        in enumerate(['maandag', 'dinsdag', 'woensdag',
                      'donderdag', 'vrijdag', 'zaterdag',
                      'zondag'])
    }
    dates['Dag'] = dates.index.dayofweek.map(days_names.get)
    dates['Week'] = dates.index.isocalendar().week
    dates['Maand'] = dates.index.month
    dates['Kwartaal'] = dates.index.quarter
    dates['Halfjaar'] = dates.index.month.map(lambda mth: 1 if mth <7 else 2)
    dates['Jaar'] = dates.index.year
    dates['Weekend'] = ['Ja' if x in ('zondag','zaterdag') else ' Nee' for x in dates.index.dayofweek.map(days_names.get)]
    dates.reset_index(inplace=True)
    dates.index.name = 'datum_id'
    dates['Record_timestamp'] = dt.date.today()
    return dates

In [88]:
df = create_date_table()

In [89]:
df

,Datum,Record_timestamp,Dag,Week,Maand,Kwartaal,Halfjaar,Jaar,Weekend
datum_id,,,,,,,,,
0,2022-01-01,2023-07-12,zaterdag,52,1,1,1,2022,Ja
1,2022-01-02,2023-07-12,zondag,52,1,1,1,2022,Ja
2,2022-01-03,2023-07-12,maandag,1,1,1,1,2022,Nee
3,2022-01-04,2023-07-12,dinsdag,1,1,1,1,2022,Nee
4,2022-01-05,2023-07-12,woensdag,1,1,1,1,2022,Nee
...,...,...,...,...,...,...,...,...,...
360,2022-12-27,2023-07-12,dinsdag,52,12,4,2,2022,Nee
361,2022-12-28,2023-07-12,woensdag,52,12,4,2,2022,Nee
362,2022-12-29,2023-07-12,donderdag,52,12,4,2,2022,Nee
363,2022-12-30,2023-07-12,vrijdag,52,12,4,2,2022,Nee
364,2022-12-31,2023-07-12,zaterdag,52,12,4,2,2022,Ja

In [ ]:
nl_holidays = holidays.country_holidays('NL')

In [ ]:
feestdag = []
weekend = []
for index, row in df.iterrows():
  f = row['Date'] in nl_holidays
  feestdag.append(f)
  w = row['Date'] in nl_holidays.weekend
  weekend.append(w)
df['feestdag'] = feestdag
df['weekend'] = weekend

In [ ]:
df

,Date,Record_timestamp,Day,Week,Month,Quarter,Year_half,Year,feestdag,weekend
date_id,,,,,,,,,,
0,2022-01-01,NaN,Saturday,52,1,1,1,2022,True,False
1,2022-01-02,NaN,Sunday,52,1,1,1,2022,False,False
2,2022-01-03,NaN,Monday,1,1,1,1,2022,False,False
3,2022-01-04,NaN,Tuesday,1,1,1,1,2022,False,False
4,2022-01-05,NaN,Wednesday,1,1,1,1,2022,False,False
...,...,...,...,...,...,...,...,...,...,...
360,2022-12-27,NaN,Tuesday,52,12,4,2,2022,False,False
361,2022-12-28,NaN,Wednesday,52,12,4,2,2022,False,False
362,2022-12-29,NaN,Thursday,52,12,4,2,2022,False,False
363,2022-12-30,NaN,Friday,52,12,4,2,2022,False,False
364,2022-12-31,NaN,Saturday,52,12,4,2,2022,False,False