<a href="https://colab.research.google.com/github/ayuksekdag/pandas_datedim/blob/main/date_dim1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import datetime as dt
import holidays

In [5]:
def create_date_table(start='2022-01-01', end='2022-12-31'):
    start_ts = pd.to_datetime(start).date()
    end_ts = pd.to_datetime(end).date()

    # record timetsamp is empty for now
    dates =  pd.DataFrame(columns=['Record_timestamp'],
        index=pd.date_range(start_ts, end_ts))
    dates.index.name = 'Date'

    days_names = {
        i: name
        for i, name
        in enumerate(['Monday', 'Tuesday', 'Wednesday',
                      'Thursday', 'Friday', 'Saturday',
                      'Sunday'])
    }
    dates['Day'] = dates.index.dayofweek.map(days_names.get)
    dates['Week'] = dates.index.isocalendar().week
    dates['Month'] = dates.index.month
    dates['Quarter'] = dates.index.quarter
    dates['Year_half'] = dates.index.month.map(lambda mth: 1 if mth <7 else 2)
    dates['Year'] = dates.index.year
    dates.reset_index(inplace=True)
    dates.index.name = 'date_id'
    return dates

In [13]:
df = create_date_table()

In [14]:
df

,Date,Record_timestamp,Day,Week,Month,Quarter,Year_half,Year
date_id,,,,,,,,
0,2022-01-01,NaN,Saturday,52,1,1,1,2022
1,2022-01-02,NaN,Sunday,52,1,1,1,2022
2,2022-01-03,NaN,Monday,1,1,1,1,2022
3,2022-01-04,NaN,Tuesday,1,1,1,1,2022
4,2022-01-05,NaN,Wednesday,1,1,1,1,2022
...,...,...,...,...,...,...,...,...
360,2022-12-27,NaN,Tuesday,52,12,4,2,2022
361,2022-12-28,NaN,Wednesday,52,12,4,2,2022
362,2022-12-29,NaN,Thursday,52,12,4,2,2022
363,2022-12-30,NaN,Friday,52,12,4,2,2022
364,2022-12-31,NaN,Saturday,52,12,4,2,2022

In [11]:
nl_holidays = holidays.country_holidays('NL')

In [37]:
feestdag = []
for index, row in df.iterrows():
  a = row['Date'] in nl_holidays
  feestdag.append(a)
df['feestdag'] = feestdag

In [38]:
df

,Date,Record_timestamp,Day,Week,Month,Quarter,Year_half,Year,feestdag
date_id,,,,,,,,,
0,2022-01-01,NaN,Saturday,52,1,1,1,2022,True
1,2022-01-02,NaN,Sunday,52,1,1,1,2022,False
2,2022-01-03,NaN,Monday,1,1,1,1,2022,False
3,2022-01-04,NaN,Tuesday,1,1,1,1,2022,False
4,2022-01-05,NaN,Wednesday,1,1,1,1,2022,False
...,...,...,...,...,...,...,...,...,...
360,2022-12-27,NaN,Tuesday,52,12,4,2,2022,False
361,2022-12-28,NaN,Wednesday,52,12,4,2,2022,False
362,2022-12-29,NaN,Thursday,52,12,4,2,2022,False
363,2022-12-30,NaN,Friday,52,12,4,2,2022,False
364,2022-12-31,NaN,Saturday,52,12,4,2,2022,False